<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HELLO HTML GEEKS</title>
    <link rel="stylesheet" href="/assets/application.css">

    <style media="screen">
    </style>
  </head>
  <body>
    <h1>Приветствую Вас <%= geek_name  %>, From HTML Geeks! </h1>
    <img src="/images/homepage-gif-bearded-guy.gif">
    <form class=""  action="/post_form" method="post">
      <fieldset>
        <legend>Как к вам обратиться?</legend>
        <input type="text" name="name" value="">
        <input type="submit" name="" value="Отправить имя">
      </fieldset>
    </form>
  </body>
</html>
